name: SonarQube Analize 2

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and sonarqube analyze
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.BCA_LABS_SONAR_TOKEN_2 }}
          SONAR_HOST_URL: ${{ secrets.BCA_LABS_SONAR_HOST_URL_2 }}